modules = ["nodejs-20", "web", "bash", "java-graalvm22.3", "nodejs-22", "nodejs-24", "typescript-language-server", "docker"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["chromium", "SDL2", "sdl3", "jq"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "dev"

[[workflows.workflow]]
name = "dev"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "preview"]
build = ["npm", "run", "build"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34121
externalPort = 3001

[[ports]]
localPort = 35243
externalPort = 3002

[[ports]]
localPort = 40803
externalPort = 3000

[[ports]]
localPort = 44785
externalPort = 3003
